@define-color theme_bg0_color #282828;
@define-color theme_bg1_color #3c3826;
@define-color theme_bg2_color #504945;
@define-color theme_bg3_color #665c54;
@define-color theme_bg4_color #7c6f64;
@define-color theme_fg0_color #fbf1c7; 
@define-color theme_fg1_color #ebdbb2; 
@define-color theme_fg2_color #d5c4a1; 
@define-color theme_fg3_color #bdae93; 
@define-color theme_fg4_color #a89984; 
@define-color theme_red1_color #cc241d; 
@define-color theme_red2_color #fb4934; 
@define-color theme_green1_color #98971a; 
@define-color theme_green2_color #b8bb26; 
@define-color theme_yellow1_color #d79921; 
@define-color theme_yellow2_color #fabd2f; 
@define-color theme_blue1_color #458588; 
@define-color theme_blue2_color #83a598; 
@define-color theme_purple1_color #b16286; 
@define-color theme_purple2_color #d3869b; 
@define-color theme_aqua1_color #689d6a; 
@define-color theme_aqua2_color #8ec07c; 
@define-color theme_orange1_color #d65d0e; 
@define-color theme_orange2_color #fe8019; 


#window {
  background-color: rgba(0, 0, 0, 0);
}

box#main {
  border-radius: 10px;
}

list#main {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  color: @theme_fg1_color;
  background-color: @theme_bg2_color;
}

list#plugin {
  background-color: rgba(0, 0, 0, 0);
  color: @theme_fg1_color;
}

label#match-desc {
  font-size: 10px;
  color: @theme_fg4_color;
}

label#plugin {
  font-size: 14px;
  color: @theme_orange2_color;
}

#entry {
  background-color: @theme_bg0_color;
  color: @theme_fg1_color;
  border-color: @theme_blue1_color;
  border-width: 3px;
}

